@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Open+Sans&family=Raleway&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100&family=Rochester&display=swap");
@import 'reset-css';
:root {
  --yelow: rgb(251, 226, 0);
  --dark-en: #0e0e0e;
}


.container {
  background: black;
  min-width: 100vw;  
  display: flex;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}



.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  overflow: hidden;
}
.text {
  &-white {
    color: white;
  }

  &-center {
    text-align: center;
  }
}
